<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/login.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <input type="checkbox" id="flip">
            <div class="cover">
                <div class="front">
                    <img src="https://1.bp.blogspot.com/-LPnzywb2Rro/YXiG2lfMC5I/AAAAAAAACLo/iWX5vUlmBosiifN5moRPYko8St4julW2ACLcBGAsYHQ/s800/alphatestersanimation2.gif"
                        alt="">
                    <div class="text">
                    </div>
                </div>
                <div class="back">
                    <img class="backImg" src="" alt="">
                    <div class="text">
                        <span class="text-1">Complete miles of journey <br> with one step</span>
                        <span class="text-2">Let's get started</span>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Login</div>
                        <form action="#" @submit.prevent="login">
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input v-model="emailLogin" type="email" placeholder="Enter your email" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input v-model="pwdLogin" type="password" placeholder="Enter your password"
                                        required>
                                </div>
                                <div class="text"><a href="#">Forgot password?</a></div>
                                <div class="button input-box">
                                    <input type="submit" value="Login">
                                </div>
                                <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup
                                        now</label>
                                </div>
                                <div class="text-center">
                                    <a href="index.html">Home</a>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="signup-form">
                        <div class="title">Signup</div>
                        <form action="#" @submit.prevent="register">
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-user"></i>
                                    <input v-model="firstName" type="text" placeholder="Enter your First name" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-user"></i>
                                    <input v-model="lastName" type="text" placeholder="Enter your Last name" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input v-model="emailRegister" type="email" placeholder="Enter your email" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input v-model="pwdRegister" type="password" placeholder="Enter your password"
                                        required>
                                </div>
                                <div class="button input-box">
                                    <input type="submit" value="Sing up">
                                </div>
                                <div class="text sign-up-text">Already have an account? <label for="flip">Login
                                        now</label>
                                </div>
                                <div class="text-center">
                                    <a href="index.html">Home</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/js/login.js"></script>
</body>

</html>