<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postnet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./assets/css/postnet.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-xl bg-light">
        <div class="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse d-xl-flex justify-content-xl-evenly align-items-xl-center" id="navbarNav">
          <div class="col-2">
            <a class="navbar-brand mx-lg-5" href="#"><img class="logo-img" src="./assets/img/mindhu_brothers.png"
                alt=""></a>
          </div>
          <ul class="navbar-nav navbarItems col-8 d-xl-flex justify-content-xl-evenly align-items-xl-center">
            <li class="nav-item ms-xl-5">
              <a class="nav-hover" aria-current="page" href="./transfers.html"><i
                  class="bi bi-arrow-left-right pe-1"></i>Transfers</a>
            </li>
            <li class="nav-item">
              <a class="nav-hover" href="./accounts.html"><i class="bi bi-wallet2 pe-1"></i>accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-hover" href="./cards.html"><i class="bi bi-credit-card pe-1"></i>cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-hover me-lg-5" href="#"><i class="bi bi-currency-dollar pe-1"></i>postnet</a>
            </li>
          </ul>
          <div class="col-2">
            <div class="d-flex float-xl-end align-items-xl-center">
              <div class="dropdown-center me-xl-4">
                <a class=" bg-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i type="button" class="position-relative bi bi-bell bell">
                  </i>
                </a>
                <ul class="dropdown-menu notification dropdown-menu-xl-end">
                  <li><a class="dropdown-item" href="#">
                      you don't have any notification</a></li>
                </ul>
              </div>
              <div class="dropdown-center me-xl-5">
                <a class=" bg-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img v-if="client.firstName == 'Melba'" class="profile"
                    src="https://pbs.twimg.com/profile_images/1337757611698032641/DBFJ-khl_400x400.jpg" alt="">
                  <img v-else class="profile"
                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    alt="">
                </a>
                <ul class="dropdown-menu dropdown-menu-xl-end">
                  <li @click="logOut"><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right pe-1"></i>Sing
                      Out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="w-100 accountBackground d-flex text-center align-items-center">
        <div class="container">
          <h2 class="fw-bold">Payments</h2>
        </div>
      </div>
      <div class="container mt-3">
        <div class="d-flex justify-content-center  align-items-center">
          <div class=" bg-light shadow-sm">
            <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
              <span class="h5 fw-bold m-0">Payment methods</span>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="px-md-5 px-4 mb-4">
                  <div class="inputWithIcon">
                    <label for="">Card Holder</label>
                    <input class="form-control" type="text" v-model="cardHolder" placeholder="Melba Morel">
                  </div>
                </div>
                <div class="col-12 px-md-5 px-2 mb-4">
                  <label for="">Card Number</label>
                  <input type="text" class="form-control" v-model="cardNumber" placeholder="3412-7865-1234-5678">
                </div>
                <div class="row px-md-5 px-4 mb-4">
                  <div class="col-md-6">
                    <label for="">Date</label>
                    <input type="text" class="form-control" v-model="date" placeholder="2027-09-14">
                  </div>
                  <div class="col-md-6">
                    <label for="">CVV</label>
                    <input type="number" class="form-control" v-model="cvv" placeholder="123">
                  </div>
                </div>
                <div class="col-12 px-md-5 px-4 mb-4">
                  <label for="">Amount</label>
                  <input type="number" class="form-control" v-model="amount" placeholder="$">
                </div>
                <div class="col-12 px-md-5 px-4 mb-4">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea"
                      v-model="description"></textarea>
                    <label for="floatingTextarea">Description</label>
                  </div>
                </div>
                <div class="text-center pb-2">
                  <button v-else type="button" class="btn btn-primary mt-5" @click="pay"> Transfer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
    <div class="" style="background-color: #fff;">
      <h3>&copy;Brandon Wasilewicz 2022</h3>
    </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./assets/js/postnet.js"></script>
</body>

</html>